Repository awn1/content: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit-tests, trigger-content-build

unit-tests:
  before_script:
  - source .gitlab/helper_functions.sh
  - - .setup-network-certs
  - - .poetry-install
  - - .granting_execute_permissions_on_files
  - - .setup-artifactory
  - - .create_artifacts_folder
  stage: unittests-and-validations
  script:
  - - .check-is-force-merged-allowed
  ...

trigger-content-build:
  before_script:
  - source .gitlab/helper_functions.sh
  - - .setup-network-certs
  - - .poetry-install
  - - .granting_execute_permissions_on_files
  - - .setup-artifactory
  - - .create_artifacts_folder
  stage: content-build
  needs: []
  script:
  - - .check-is-force-merged-allowed
  ...

Slack improvements
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  Tests/scripts/build_machines_report.py
  Tests/scripts/common.py
  Tests/scripts/gitlab_slack_notifier.py
Due: unit-tests, trigger-content-build

Return error if bypass url fails
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
Due: unit-tests, trigger-content-build

demisto-sdk-release 1.31.4
  poetry.lock
  pyproject.toml
Due: unit-tests

Added retries for cases of a WLM task failure - [101704] error code
  Tests/Marketplace/search_and_install_packs.py
Due: unit-tests, trigger-content-build

.git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

add more ruff categories
  poetry.lock
  pyproject.toml
Due: unit-tests

include more `RUF` rules
  pyproject.toml
Due: unit-tests

update `.git-blame-ignore-revs`, update `ruff` version
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: unit-tests

Machines report
  .gitlab/ci/build-machines-report.yml
  .gitlab/ci/slack-notify.yml
  .gitlab/ci/trigger-dev-nightly-builds/.trigger-dev-nightly-builds.yml
  .gitlab/graph_lock_machine.py
  Tests/scripts/build_machines_report.py
  Tests/scripts/gitlab_slack_notifier.py
  Tests/scripts/graph_lock_machine.py
  Tests/scripts/utils/slack.py
  poetry.lock
  pyproject.toml
Due: unit-tests, trigger-content-build

Add logs to relative image upload
  Tests/Marketplace/marketplace_services.py
Due: unit-tests, trigger-content-build

lock
  poetry.lock
Due: unit-tests

fixes
  Tests/Marketplace/marketplace_services.py
  Tests/scripts/build_machines_report.py
  Tests/scripts/gitlab_slack_notifier.py
  Tests/scripts/graph_lock_machine.py
Due: unit-tests, trigger-content-build

Fix condition for installing SDK master
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.variables.yml
Due: unit-tests, trigger-content-build

Move core files and approved to Config dir
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  Tests/Marketplace/marketplace_constants.py
  poetry.lock
  pyproject.toml
Due: unit-tests, trigger-content-build

Add Ignore
  BlacklistValidation/get_blacklist.py
Due: none

Store API Keys in GSM
  .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  SecretActions/add_build_machine.py
  SecretActions/add_gsm_secret.py
  Tests/Marketplace/configure_and_install_packs.py
  Tests/Marketplace/install_packs.sh
  Tests/Marketplace/reinstall_packs.py
  Tests/Marketplace/search_and_uninstall_pack.py
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/get_cloud_machines_details.py
  Tests/scripts/install_content_and_test_integrations.sh
  Tests/scripts/reinstall_packs_on_cloud_instances.sh
  Tests/scripts/run_e2e_tests.sh
  Tests/scripts/run_tests.sh
  Tests/scripts/test_modeling_rules.sh
  Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh
  Tests/tests/configure_and_test_integration_instances_test.py
  Tests/tests_e2e/conftest.py
Due: unit-tests, trigger-content-build

Update codeowners
  .gitlab/CODEOWNERS
  CODEOWNERS
Due: none

[lock_cloud_machines] fix-default-channel
  Tests/scripts/lock_cloud_machines.py
Due: unit-tests, trigger-content-build

Test override core packs
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
Due: unit-tests, trigger-content-build

Remove more CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

[Tests/Marketplace/marketplace_services.py] Update metadata created field
  Tests/Marketplace/Tests/marketplace_services_test.py
  Tests/Marketplace/Tests/upload_packs_test.py
  Tests/Marketplace/marketplace_services.py
Due: unit-tests, trigger-content-build

fix core packs path
  Tests/Marketplace/marketplace_constants.py
Due: unit-tests, trigger-content-build

always save artifacts
  .gitlab/ci/sdk-release-ci/.gitlab-ci.sdk-release.yml
Due: unit-tests, trigger-content-build

[collect tests] collect TPB dependencies using the Graph
  Tests/scripts/collect_tests/collect_tests.py
  Tests/scripts/collect_tests/id_set.py
  Tests/scripts/infrastructure_tests/test_collect_tests.py
Due: unit-tests, trigger-content-build

Cleaner Pyproject
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  .pre-commit-config.yaml
  gcp/Pipfile
  gcp/Pipfile.lock
  poetry.lock
  pyproject.toml
Due: unit-tests, trigger-content-build

Increase precommit kubernetes request memory to 16Gi
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

Upload only needed artifacts in sync
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
Due: unit-tests, trigger-content-build

fix scp importing
  .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  poetry.lock
  pyproject.toml
Due: unit-tests, trigger-content-build

Change the color when cloning with fallback
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

Fix SDK Release Special Chars
  Tests/sdk_release/create_content_pr.py
Due: unit-tests, trigger-content-build

tests
  Tests/Marketplace/Tests/marketplace_services_test.py
  Tests/Marketplace/marketplace_services.py
Due: unit-tests, trigger-content-build

[Contributions] Refactor untracked file collection
  Tests/scripts/new_validate.sh
  Utils/update_contribution_pack_in_base_branch.py
Due: unit-tests, trigger-content-build

release
  .changelogs/.gitignore
  .gitlab/ci/ci_resources/infra-release-ci/release_infra.py
  .gitlab/ci/pre-commit/.gitlab-ci.pre-commit.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: unit-tests, trigger-content-build

add `git fetch` before checking if files exist on `origin/master`
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

slack fixes
  Tests/scripts/gitlab_slack_notifier.py
Due: unit-tests, trigger-content-build

[NG nightly] change flow-type
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
Due: unit-tests, trigger-content-build

Document using towncrier in infra
  .changelogs/CIAC-11444.doc.md
  .changelogs/README.md
Due: none

Path conditions:
  unit-tests: any of: pyproject.toml, poetry.lock, Tests/**/*, Utils/**/*, gcp/**/*, SecretActions/**/*, gcp_automations/**/*, .gitlab/ci/content-ci/ci/**/*, .gitlab/ci/Unit-Tests/**/*, .gitlab/ci/sdk-release-ci/**/*, .gitlab/ci/pre-commit/**/*, .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  trigger-content-build: any of: Tests/**/*, Utils/**/*, gcp/**/*, SecretActions/**/*, gcp_automations/**/*, .gitlab/ci/content-ci/ci/**/*, .gitlab/ci/sdk-release-ci/**/*, .gitlab/ci/pre-commit/**/*, .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
