Repository awn1/content: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit-tests, trigger-content-build

unit-tests:
  before_script:
  - source .gitlab/helper_functions.sh
  - - .setup-network-certs
  - - .poetry-install
  - - .granting_execute_permissions_on_files
  - - .setup-artifactory
  - - .create_artifacts_folder
  stage: unittests-and-validations
  script:
  - - .check-is-force-merged-allowed
  ...

trigger-content-build:
  before_script:
  - source .gitlab/helper_functions.sh
  - - .setup-network-certs
  - - .poetry-install
  - - .granting_execute_permissions_on_files
  - - .setup-artifactory
  - - .create_artifacts_folder
  stage: content-build
  needs: []
  script:
  - - .check-is-force-merged-allowed
  ...

Delete problematic XSIAM machine
  xsiam_servers.json
Due: none

Added missing argument for jira create issue
  Tests/scripts/convert_test_modeling_result_to_jira_issues.py
Due: unit-tests, trigger-content-build

unpin versions
  poetry.lock
  pyproject.toml
Due: unit-tests

update
  .gitlab/graph_lock_machine.py
Due: none

CIAC-11040 - Clone infra/content-test-conf once during the build to speed the build and keep the code base consistent during the build
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  Tests/scripts/check_jobs_done.py
Due: unit-tests, trigger-content-build

fix trigger contrib branches
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

[devtask] - remove dependency on secrets file
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  SecretActions/SecretsBuild/add_secrets_file_to_build.py
  SecretActions/add_gsm_secret.py
  SecretActions/google_secret_manager_handler.py
  Tests/Marketplace/configure_and_install_packs.py
  Tests/Marketplace/install_packs.sh
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/install_content_and_test_integrations.sh
  Tests/scripts/run_e2e_tests.sh
  Tests/tests/configure_and_test_integration_instances_test.py
  Tests/tests_e2e/conftest.py
  Tests/tests_e2e/content/xsoar_saas/test_e2e_xsoar_saas.py
  Tests/tools.py
Due: unit-tests, trigger-content-build

Fix versions of XSIAM machines
  xsiam_servers.json
Due: none

fix pre commit
  .gitlab/graph_lock_machine.py
Due: none

Updated TTL of artifacts
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/sdk-release-ci/.gitlab-ci.sdk-release.yml
Due: unit-tests, trigger-content-build

copy npm install logs to the artifacts folder
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

Install packs algorithm
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.variables.yml
  Tests/Marketplace/Tests/search_and_install_packs_test.py
  Tests/Marketplace/common.py
  Tests/Marketplace/configure_and_install_packs.py
  Tests/Marketplace/reinstall_packs.py
  Tests/Marketplace/search_and_install_packs.py
  Tests/Marketplace/search_and_uninstall_pack.py
  Tests/configure_and_test_integration_instances.py
  Tests/instance_notifier.py
  Tests/scripts/check_jobs_done.py
  Tests/scripts/gitlab_slack_notifier.py
  Tests/scripts/infrastructure_tests/split_packs_to_machines_test.py
  Tests/scripts/install_content_and_test_integrations.sh
  Tests/scripts/instance_test.sh
  Tests/scripts/run_tests.sh
  Tests/scripts/split_packs_to_machines.py
  Tests/test_content.py
  Tests/tests/configure_and_test_integration_instances_test.py
  Tests/tools.py
  gcp/instancesconfig.json
  xsoar_ng_servers.json
Due: unit-tests, trigger-content-build

sdk release 1.31.3
  poetry.lock
  pyproject.toml
Due: unit-tests

gitlab-ci.sdk-release.yml - fix trigger_nightly_sdk_build options
  .gitlab/ci/sdk-release-ci/.gitlab-ci.sdk-release.yml
  Utils/gitlab_triggers/trigger_demisto_sdk_release.sh
Due: unit-tests, trigger-content-build

[Collect tests] Refactor the collector according to the new design.
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.variables.yml
  Tests/scripts/collect_tests/collect_tests.py
  Tests/scripts/collect_tests/constants.py
  Tests/scripts/collect_tests/exceptions.py
  Tests/scripts/collect_tests/id_set.py
  Tests/scripts/collect_tests/utils.py
  Tests/scripts/collect_tests/version_range.py
  Tests/scripts/infrastructure_tests/test_collect_tests.py
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/A_xsiam/Packs/Whois/TestPlaybooks/Sanity Test - Playbook with Unmockable Whois Integration.yml
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/B_xsiam/Packs/Whois/TestPlaybooks/Sanity Test - Playbook with Unmockable Whois Integration.yml
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/B_xsoar/Packs/myXSOAROnlyPack/TestPlaybooks/myTestPlaybook.yml
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/C/Packs/Whois/TestPlaybooks/Sanity Test - Playbook with Unmockable Whois Integration.yml
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/CoreAlertFields/.pack_ignore
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/CoreAlertFields/.secrets-ignore
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/CoreAlertFields/Integrations/myIntegration/myIntegration.py
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/CoreAlertFields/Integrations/myIntegration/myIntegration.yml
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/CoreAlertFields/pack_metadata.json
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/bothMarketplacesPack/.pack_ignore
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/bothMarketplacesPack/.secrets-ignore
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/bothMarketplacesPack/Integrations/myIntegration/myIntegration.py
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/bothMarketplacesPack/Integrations/myIntegration/myIntegration.yml
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/bothMarketplacesPack/TestPlaybooks/myTestPlaybook_marketplacev2.yml
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Packs/bothMarketplacesPack/pack_metadata.json
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Tests/conf.json
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/conf marketplaces/Tests/id_set.json
Due: unit-tests, trigger-content-build

update - xsoar_ng_server_ga - nightly
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
Due: unit-tests, trigger-content-build

Update file get_blacklist.py
  BlacklistValidation/get_blacklist.py
Due: none

[Slack Notifier] SDK --version
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

[Native Image] Add Memory
  .gitlab/ci/content-ci/ci/.gitlab-ci.test-native-candidate.yml
Due: unit-tests, trigger-content-build

Add build effort machines (XSIAM and NG)
  xsiam_servers.json
  xsoar_ng_servers.json
Due: none

change default value JIRA-MAX-TEST-PLAYBOOKS-FAILURES-TO-HANDLE-DEFAULT
  Tests/scripts/convert_test_playbook_result_to_jira_issues.py
Due: unit-tests, trigger-content-build

Fix generate docs
  .gitlab/ci/sdk-release-ci/.gitlab-ci.sdk-release.yml
  .gitlab/helper_functions.sh
Due: unit-tests, trigger-content-build

update - xsoar_on_prem - Nightly - generate empty results file
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  Tests/scripts/run_tests.sh
Due: unit-tests, trigger-content-build

Upgrade Pre-commit Hook versions
  .pre-commit-config.yaml
  SecretActions/add_gsm_secret.py
  SecretActions/change_secret_expiration.py
  SecretActions/google_secret_manager_handler.py
  Tests/Marketplace/marketplace_services.py
  Tests/Marketplace/upload_packs.py
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/collect_tests/utils.py
  Tests/scripts/common.py
  Tests/scripts/gitlab_client.py
  Tests/scripts/infra/utils/time_utils.py
  Tests/scripts/infra/xsoar_api.py
  Tests/scripts/utils/log_util.py
  Utils/_script_docker_python_loop_example.py
  Utils/request_contributor_review.py
  pyproject.toml
Due: unit-tests, trigger-content-build

[search and install packs] Add logs
  Tests/Marketplace/search_and_install_packs.py
  Tests/configure_and_test_integration_instances.py
Due: unit-tests, trigger-content-build

remove xsoar ng from needs
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/check_jobs_done.py
  Tests/scripts/gitlab_slack_notifier.py
Due: unit-tests, trigger-content-build

Increased timeout for sync marketplace
  Tests/configure_and_test_integration_instances.py
Due: unit-tests, trigger-content-build

Revert "Merge branch 'remove-ng-upload' into 'master'"
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/check_jobs_done.py
  Tests/scripts/gitlab_slack_notifier.py
Due: unit-tests, trigger-content-build

content build workflow name
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.workflow.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.yml
Due: unit-tests, trigger-content-build

CIAC-11078 Move any configuration file outside infra repository
  .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
  .gitlab/ci/build-machines-report.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.slack-notify.yml
  .gitlab/ci/global.yml
  .gitlab/ci/name_mapping.json
  .gitlab/ci/sdk-release-ci/.gitlab-ci.sdk-release.yml
  .gitlab/ci/secret-expiration-report.yml
  .gitlab/ci/server-images-builds.yml
  .gitlab/ci/slack-notify.yml
  Tests/Marketplace/Tests/search_and_install_packs_test.py
  Tests/Marketplace/Tests/test_data/changelog.json
  Tests/scripts/check_jobs_done.py
  Tests/scripts/collect_tests/utils.py
  Tests/scripts/common.py
  Tests/scripts/gitlab_basic_slack_notifier.py
  Tests/scripts/infrastructure_tests/common_test.py
  Tests/scripts/infrastructure_tests/test_collect_tests.py
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/D/Packs/myPack/TestPlaybooks/myTestPlaybook.yml
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/D/Tests/id_set.json
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/L_XSIAM/Packs/myXSIAMOnlyPack/Wizards/harry.json
  Tests/sdk_release/pre_validations.py
  Tests/tests/configure_and_test_integration_instances_test.py
  gcp/create_instance.py
  gcp/instancesconfig.json
Due: unit-tests, trigger-content-build

Use the Xsiam UI get_data endpoint to get which datasets exists on the machine.
  .gitlab/ci/build-machines-report.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/workflow.yml
  Tests/Marketplace/Tests/search_and_unistall_pack_test.py
  Tests/Marketplace/Tests/validate_core_packs_list_versions_test.py
  Tests/Marketplace/configure_and_install_packs.py
  Tests/Marketplace/reinstall_packs.py
  Tests/Marketplace/search_and_uninstall_pack.py
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/infra/enums/tables.py
  Tests/scripts/infra/models.py
  Tests/scripts/infra/resources/constants.py
  Tests/scripts/infra/secret_manager.py
  Tests/scripts/infra/settings.py
  Tests/scripts/infra/utils/env.py
  Tests/scripts/infra/utils/requests_handler.py
  Tests/scripts/infra/utils/rocket_retry.py
  Tests/scripts/infra/xsoar_api.py
  Tests/tests_e2e/conftest.py
  Utils/gitlab_triggers/trigger_cleanup_build_machines.sh
Due: unit-tests, trigger-content-build

fix clone content test conf
  .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
Due: none

Collapse upload sections in builds
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  Tests/Marketplace/upload_packs.py
Due: unit-tests, trigger-content-build

CIAC-11078 Move any configuration file outside infra repository
  xsiam_servers.json
  xsoar_ng_servers.json
Due: none

CIAC-11078 Move any configuration file outside infra repository
  Tests/Marketplace/install_packs.sh
  Tests/scripts/test_modeling_rules.sh
Due: unit-tests, trigger-content-build

fix - upload_zipped_packs
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/install_content_and_test_integrations.sh
  Tests/tests/configure_and_test_integration_instances_test.py
Due: unit-tests, trigger-content-build

remove unnecessary logs
  Tests/configure_and_test_integration_instances.py
Due: unit-tests, trigger-content-build

Fix import in pre_validations script
  Tests/sdk_release/pre_validations.py
Due: unit-tests, trigger-content-build

removed e2e testing from run on xsiam
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
Due: unit-tests, trigger-content-build

Path conditions:
  unit-tests: any of: pyproject.toml, poetry.lock, Tests/**/*, Utils/**/*, gcp/**/*, SecretActions/**/*, gcp_automations/**/*, .gitlab/ci/content-ci/ci/**/*, .gitlab/ci/Unit-Tests/**/*, .gitlab/ci/sdk-release-ci/**/*, .gitlab/ci/pre-commit/**/*, .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  trigger-content-build: any of: Tests/**/*, Utils/**/*, gcp/**/*, SecretActions/**/*, gcp_automations/**/*, .gitlab/ci/content-ci/ci/**/*, .gitlab/ci/sdk-release-ci/**/*, .gitlab/ci/pre-commit/**/*, .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
