Repository awn1/content: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit-tests, trigger-content-build

unit-tests:
  before_script:
  - source .gitlab/helper_functions.sh
  - - .setup-network-certs
  - - .poetry-install
  - - .granting_execute_permissions_on_files
  - - .setup-artifactory
  - - .create_artifacts_folder
  stage: unittests-and-validations
  script:
  - - .check-is-force-merged-allowed
  ...

trigger-content-build:
  before_script:
  - source .gitlab/helper_functions.sh
  - - .setup-network-certs
  - - .poetry-install
  - - .granting_execute_permissions_on_files
  - - .setup-artifactory
  - - .create_artifacts_folder
  stage: content-build
  needs: []
  script:
  - - .check-is-force-merged-allowed
  ...

okta user agent fix
  .changelogs/+0a005161.bugfix.md
  Tests/scripts/infra/resources/constants.py
Due: unit-tests, trigger-content-build

Improve README for the Changelog folder
  .changelogs/CIAC-11470.doc.md
  .changelogs/README.md
Due: none

Add ShellCheck
  .changelogs/CIAC-6353.feature.md
  .gitlab/ci/global.yml
  .gitlab/ci/pre-commit/.gitlab-ci.pre-commit.yml
  .pre-commit-config.yaml
  Tests/Marketplace/upload_versions_core_files.sh
  Tests/scripts/infrastructure_tests/tests_data/collect_tests/empty/.gitlab/helper_functions.sh
  Tests/scripts/open_ssh_tunnel.sh
  Tests/scripts/pull_docker_images.sh
  Tests/scripts/server_get_artifact.sh
  Utils/gitlab_triggers/trigger_build_url.sh
  gcp_automations/clean_remote_machine.sh
Due: unit-tests, trigger-content-build

[Native Image] add --only mypy
  .changelogs/CIAC-11468.bugfix.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.test-native-candidate.yml
Due: unit-tests, trigger-content-build

fix Okta login, code taken from Rocket repository
  .changelogs/+41776ed7.bugfix.md
  Tests/scripts/build_machines_report.py
  Tests/scripts/infra/xsoar_api.py
Due: unit-tests, trigger-content-build

Remove types-pkg-resources
  .changelogs/CIAC-11458.bugfix.md
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: unit-tests

demisto-sdk 1.31.6 release
  .changelogs/419.misc.md
  poetry.lock
  pyproject.toml
Due: unit-tests

Exit 1 when upload commit is old
  .changelogs/CIAC-11475.bugfix.md
  Tests/Marketplace/upload_packs.py
Due: unit-tests, trigger-content-build

Add trigger sync between buckets
  .changelogs/CIAC-10377.feature.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  Tests/scripts/gitlab_slack_notifier.py
  Tests/scripts/infrastructure_tests/gitlab_slack_notifier_test.py
  Tests/scripts/infrastructure_tests/trigger_jenkins_job_test.py
  Tests/scripts/trigger_jenkins_job.py
Due: unit-tests, trigger-content-build

Validate content-test-conf files
  .changelogs/CIAC-10677.misc.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

Merge Gold dependencies into infra
  .changelogs/CIAC-11495.feature.md
  poetry.lock
  pyproject.toml
Due: unit-tests

move `content_release_vars` from content's `/.circleci` to the infra repo.
  .changelogs/CIAC-11495.misc.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  Utils/content_release_vars.sh
Due: unit-tests, trigger-content-build

fixing npm errors
  .changelogs/+7beb68bf.bugfix.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

adding licenses data into the build machines report
  .changelogs/+a43796b0.feature.md
  Tests/scripts/BuildMachines/templates/ReportTemplate.html
  Tests/scripts/build_machines_report.py
  Tests/scripts/infra/xsoar_api.py
Due: unit-tests, trigger-content-build

ciac-11145-split-modeling-rules
  .changelogs/CIAC-11145.feature.md
  .gitlab/CODEOWNERS
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/sdk-release-ci/.gitlab-ci.sdk-release.yml
  .gitlab/ci/workflow.yml
  Tests/Marketplace/configure_and_install_packs.py
  Tests/Marketplace/install_packs.sh
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/collect_tests/collect_tests.py
  Tests/scripts/collect_tests/constants.py
  Tests/scripts/collect_tests/path_manager.py
  Tests/scripts/collect_tests/test_conf.py
  Tests/scripts/infrastructure_tests/split_packs_to_machines_test.py
  Tests/scripts/infrastructure_tests/test_collect_tests.py
  Tests/scripts/install_content_and_test_integrations.sh
  Tests/scripts/run_tests.sh
  Tests/scripts/split_packs_to_machines.py
  Tests/scripts/test_modeling_rules.sh
  Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh
  Tests/tests/configure_and_test_integration_instances_test.py
  Utils/gitlab_triggers/trigger_content_nightly_build.sh
  Utils/gitlab_triggers/trigger_demisto_sdk_release.sh
  Utils/trigger_nightly_sdk_build.sh
  poetry.lock
  pyproject.toml
Due: unit-tests, trigger-content-build

fix shellcheck hiccup
  .changelogs/CIAC-11508.bugfix.md
  Utils/content_release_vars.sh
Due: unit-tests, trigger-content-build

CIAC-11303 Improve cleanup schedule pipeline
  .changelogs/CIAC-11303.feature.md
  .gitlab/CODEOWNERS
  .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
  .gitlab/ci/build-machines-report.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  .gitlab/ci/global.yml
  Tests/scripts/build_machines_report.py
  Tests/scripts/common.py
  Tests/scripts/gitlab_slack_notifier.py
  Tests/scripts/infra/xsoar_api.py
  Tests/scripts/infrastructure_tests/lock_cloud_machines_test.py
  Tests/scripts/install_content_and_test_integrations.sh
  Tests/scripts/lock_cloud_machines.py
  Tests/scripts/lock_cloud_machines.sh
  Tests/scripts/print_cloud_machine_details.sh
  Tests/scripts/reinstall_packs_on_cloud_instances.sh
  Tests/scripts/run_e2e_tests.sh
  Tests/scripts/run_tests.sh
  Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh
  Tests/scripts/wait_in_line_for_cloud_env.sh
  Tests/tests/configure_and_test_integration_instances_test.py
  Utils/gitlab_triggers/trigger_cleanup_build_machines.sh
Due: unit-tests, trigger-content-build

Infra versioning: simplified process, README.md
  .changelogs/CIAC-9545.doc.md
  .changelogs/CIAC-9545.removal.md
  .gitlab/ci/ci_resources/infra-release-ci/README.md
  .gitlab/ci/ci_resources/infra-release-ci/release_infra.py
Due: none

adding bootstrap to infra
  .changelogs/+de7b3e5e.feature.md
  .hooks/bootstrap
Due: none

Revert "Merge branch 'join-saas-config-improve-wait-in-line' into 'master'"
  .changelogs/CIAC-11303.feature.md
  .gitlab/CODEOWNERS
  .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
  .gitlab/ci/build-machines-report.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  .gitlab/ci/global.yml
  Tests/scripts/build_machines_report.py
  Tests/scripts/common.py
  Tests/scripts/gitlab_slack_notifier.py
  Tests/scripts/infra/xsoar_api.py
  Tests/scripts/infrastructure_tests/lock_cloud_machines_test.py
  Tests/scripts/install_content_and_test_integrations.sh
  Tests/scripts/lock_cloud_machines.py
  Tests/scripts/lock_cloud_machines.sh
  Tests/scripts/print_cloud_machine_details.sh
  Tests/scripts/reinstall_packs_on_cloud_instances.sh
  Tests/scripts/run_e2e_tests.sh
  Tests/scripts/run_tests.sh
  Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh
  Tests/scripts/wait_in_line_for_cloud_env.sh
  Tests/tests/configure_and_test_integration_instances_test.py
  Utils/gitlab_triggers/trigger_cleanup_build_machines.sh
Due: unit-tests, trigger-content-build

shorten list of content files causing `test upload flow`
  .changelogs/CIAC-11507.feature.md
  Utils/should_trigger_test_upload.sh
Due: unit-tests, trigger-content-build

CIAC-11532 trigger content builds as a sub-pipeline instead of detached pipeline
  .changelogs/CIAC-11532.feature.md
  .gitlab/ci/.gitlab-ci.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  .gitlab/ci/workflow.yml
  Tests/scripts/trigger_content_build.py
Due: unit-tests, trigger-content-build

Breaking Changes Show Per Marketplace
  Tests/Marketplace/Tests/marketplace_services_test.py
  Tests/Marketplace/marketplace_services.py
Due: unit-tests, trigger-content-build

report missing users in the name mapping
  .changelogs/+1a369e6e.feature.md
  .gitlab/ci/.gitlab-ci.yml
  .gitlab/ci/build-machines-report.yml
  Tests/scripts/build_machines_report.py
  Tests/scripts/utils/slack.py
Due: unit-tests, trigger-content-build

change JIRA_MAX_TEST_PLAYBOOKS_FAILURES_TO_HANDLE
  .changelogs/CIAC-11163.removal.md
  Tests/scripts/convert_test_playbook_result_to_jira_issues.py
Due: unit-tests, trigger-content-build

Add login for docker in pre commit
  .changelogs/CIAC-11590.bugfix.md
  .gitlab/ci/pre-commit/.gitlab-ci.pre-commit.yml
Due: unit-tests, trigger-content-build

Improved error message when test module reaches timeout
  .changelogs/+fb72461c.doc.md
  Tests/test_integration.py
Due: unit-tests, trigger-content-build

Release demisto-sdk 1.31.9
  .changelogs/447.misc.md
  poetry.lock
  pyproject.toml
Due: unit-tests

CIAC-11303 Improve cleanup schedule pipeline - take2
  .changelogs/CIAC-11303.feature.md
  .gitlab/CODEOWNERS
  .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
  .gitlab/ci/build-machines-report.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  .gitlab/ci/global.yml
  Tests/scripts/build_machines_report.py
  Tests/scripts/common.py
  Tests/scripts/gitlab_slack_notifier.py
  Tests/scripts/infra/xsoar_api.py
  Tests/scripts/infrastructure_tests/lock_cloud_machines_test.py
  Tests/scripts/install_content_and_test_integrations.sh
  Tests/scripts/lock_cloud_machines.py
  Tests/scripts/lock_cloud_machines.sh
  Tests/scripts/print_cloud_machine_details.sh
  Tests/scripts/reinstall_packs_on_cloud_instances.sh
  Tests/scripts/run_e2e_tests.sh
  Tests/scripts/run_tests.sh
  Tests/scripts/test_modeling_rules.sh
  Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh
  Tests/scripts/wait_in_line_for_cloud_env.sh
  Tests/tests/configure_and_test_integration_instances_test.py
  Utils/gitlab_triggers/trigger_cleanup_build_machines.sh
Due: unit-tests, trigger-content-build

Add support to copy relative image path
  .changelogs/+f04173b9.feature.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  Tests/Marketplace/copy_and_upload_packs.py
  Tests/Marketplace/marketplace_constants.py
  Tests/Marketplace/marketplace_services.py
  Tests/Marketplace/upload_packs.py
Due: unit-tests, trigger-content-build

Consider tags when cloning repos
  .changelogs/CIAC-11473.feature.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/global.yml
  .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  .gitlab/download_content_branch.sh
  Tests/scripts/trigger_content_build.py
Due: unit-tests, trigger-content-build

Infra Release V0.0.2
  .changelogs/+0a005161.bugfix.md
  .changelogs/+1a369e6e.feature.md
  .changelogs/+41776ed7.bugfix.md
  .changelogs/+7beb68bf.bugfix.md
  .changelogs/+a43796b0.feature.md
  .changelogs/+de7b3e5e.feature.md
  .changelogs/+f04173b9.feature.md
  .changelogs/+fb72461c.doc.md
  .changelogs/419.misc.md
  .changelogs/447.misc.md
  .changelogs/CIAC-10377.feature.md
  .changelogs/CIAC-10677.misc.md
  .changelogs/CIAC-11145.feature.md
  .changelogs/CIAC-11163.removal.md
  .changelogs/CIAC-11303.feature.md
  .changelogs/CIAC-11444.doc.md
  .changelogs/CIAC-11458.bugfix.md
  .changelogs/CIAC-11468.bugfix.md
  .changelogs/CIAC-11470.doc.md
  .changelogs/CIAC-11473.feature.md
  .changelogs/CIAC-11475.bugfix.md
  .changelogs/CIAC-11495.feature.md
  .changelogs/CIAC-11495.misc.md
  .changelogs/CIAC-11507.feature.md
  .changelogs/CIAC-11508.bugfix.md
  .changelogs/CIAC-11532.feature.md
  .changelogs/CIAC-11590.bugfix.md
  .changelogs/CIAC-6353.feature.md
  .changelogs/CIAC-9545.doc.md
  .changelogs/CIAC-9545.removal.md
  CHANGELOG.md
  pyproject.toml
Due: unit-tests

Infra release improvements
  .changelogs/+8f6f1854.misc.md
  .changelogs/+9b9d65cb.doc.md
  .changelogs/CIAC-11621.bugfix.md
  .gitlab/ci/ci_resources/infra-release-ci/README.md
  .gitlab/ci/ci_resources/infra-release-ci/release_infra.py
Due: none

Build effort machines to nightly
  .changelogs/+f71301c3.misc.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
Due: unit-tests, trigger-content-build

Fix filter_envs.json file
  .changelogs/+a3210509.bugfix.md
  Tests/scripts/collect_tests/collect_tests.py
Due: unit-tests, trigger-content-build

fixing build report machine type
  .changelogs/+c332248c.bugfix.md
  Tests/scripts/build_machines_report.py
Due: unit-tests, trigger-content-build

Ignore 020202 in secrets
  .changelogs/+e4e2bc16.misc.md
  BlacklistValidation/get_blacklist.py
Due: none

fixing cases where the slack message is over 2000 chars limit
  .changelogs/+55b6a978.bugfix.md
  Tests/scripts/common.py
  Tests/scripts/gitlab_slack_notifier.py
Due: unit-tests, trigger-content-build

fixing upload flow workflow name and addressing upload variables only as "true" or "false"
  .changelogs/+6f655077.bugfix.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.variables.yml
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/new_validate.sh
  Tests/scripts/prepare_content_packs_for_testing.sh
  Tests/scripts/validate.sh
  Utils/gitlab_triggers/trigger_upload_flow_build.sh
  Utils/trigger_test_upload_flow.sh
  Utils/trigger_upload_packs_to_production.sh
Due: unit-tests, trigger-content-build

Path conditions:
  unit-tests: any of: pyproject.toml, poetry.lock, Tests/**/*, Utils/**/*, gcp/**/*, SecretActions/**/*, gcp_automations/**/*, .gitlab/ci/content-ci/ci/**/*, .gitlab/ci/Unit-Tests/**/*, .gitlab/ci/sdk-release-ci/**/*, .gitlab/ci/pre-commit/**/*, .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  trigger-content-build: any of: Tests/**/*, Utils/**/*, gcp/**/*, SecretActions/**/*, gcp_automations/**/*, .gitlab/ci/content-ci/ci/**/*, .gitlab/ci/sdk-release-ci/**/*, .gitlab/ci/pre-commit/**/*, .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
