Repository awn1/content: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit-tests, trigger-content-build

.gitlab/ci/Unit-Tests/.gitlab-ci.unit-tests.yml:

.unit-tests-rules:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        paths:
          - pyproject.toml
          - poetry.lock
          - Tests/**/*
          - Utils/**/*
          - gcp/**/*
          - SecretActions/**/*
          - gcp_automations/**/*
          - .gitlab/ci/content-ci/ci/**/*
          - .gitlab/ci/Unit-Tests/**/*
          - .gitlab/ci/sdk-release-ci/**/*
          - .gitlab/ci/pre-commit/**/*
          - .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
        compare_to: master

.before-script-unit-test:
  before_script:
    - source .gitlab/helper_functions.sh
    - !reference [.setup-network-certs]
    - !reference [.poetry-install]
    - !reference [.granting_execute_permissions_on_files]
    - !reference [.setup-artifactory]
    - !reference [.create_artifacts_folder]


unit-tests:
  stage: unittests-and-validations
  extends:
    - .unit-tests-rules
    - .before-script-unit-test
  script:
    - !reference [.check-is-force-merged-allowed]

    - section_start "Test Infrastructure" --collapsed
    - poetry install --with testing
    - poetry run pytest --cov="." --cov-report=xml --cov-report=term
    - poetry run coverage html
    - section_end "Test Infrastructure"

  artifacts:
    when: always
    paths:
      - coverage.xml
      - htmlcov/
    reports:
      junit: report.xml
  coverage: /TOTAL\s+\d+\s+\d+\s+(\d+%)$/

.gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml:

.trigger_content_build_rule:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        paths:
          - Tests/**/*
          - Utils/**/*
          - gcp/**/*
          - SecretActions/**/*
          - gcp_automations/**/*
          - .gitlab/ci/content-ci/ci/**/*
          - .gitlab/ci/sdk-release-ci/**/*
          - .gitlab/ci/pre-commit/**/*
          - .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
        compare_to: master

.before-script-trigger-content-build:
  before_script:
    - source .gitlab/helper_functions.sh
    - !reference [.setup-network-certs]
    - !reference [.poetry-install]
    - !reference [.granting_execute_permissions_on_files]
    - !reference [.setup-artifactory]
    - !reference [.create_artifacts_folder]


trigger-content-build:
  stage: content-build
  needs: []
  extends:
    - .trigger_content_build_rule
    - .before-script-trigger-content-build
  script:
    - !reference [.check-is-force-merged-allowed]
    - section_start "Trigger Content-build" --collapsed
    - poetry run python3 -u ./Tests/scripts/trigger_content_build.py -pn "${CI_PROJECT_NAMESPACE}/content" -gt "$GITLAB_API_TOKEN_CONTENT" -bn "$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME" -gtt "$GITLAB_SVC_USER_TOKEN" -gct "$GITLAB_CONTENT_CANCEL_TOKEN" -ght "$GITHUB_TOKEN" -n "false" -sn "false" --wait
    - section_end "Trigger Content-build"

Decrease log size
  .changelogs/+22f482e1.misc.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  BucketLogs/process-logs.sh
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/prepare_content_packs_for_testing.sh
  Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh
  Tests/scripts/upload_artifacts.sh
Due: unit-tests, trigger-content-build

Hardcode hybrid packs
  .changelogs/+7295ce4b.bugfix.md
  Tests/Marketplace/Tests/search_and_install_packs_test.py
  Tests/Marketplace/search_and_install_packs.py
Due: unit-tests, trigger-content-build

fix CODEOWNERS syntax
  .changelogs/+510b469c.bugfix.md
  .gitlab/CODEOWNERS
Due: none

remove backward compatibility with XSIAM/NG server files
  .changelogs/+298e6209.feature.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/global.yml
Due: unit-tests, trigger-content-build

SDK 1.31.10
  .changelogs/+e6bf8327.misc.md
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: unit-tests

Infra Release V0.0.3
  .changelogs/+22f482e1.misc.md
  .changelogs/+510b469c.bugfix.md
  .changelogs/+55b6a978.bugfix.md
  .changelogs/+6f655077.bugfix.md
  .changelogs/+7295ce4b.bugfix.md
  .changelogs/+8f6f1854.misc.md
  .changelogs/+9b9d65cb.doc.md
  .changelogs/+a3210509.bugfix.md
  .changelogs/+c332248c.bugfix.md
  .changelogs/+e4e2bc16.misc.md
  .changelogs/+e6bf8327.misc.md
  .changelogs/+f71301c3.misc.md
  .changelogs/CIAC-11621.bugfix.md
  CHANGELOG.md
  pyproject.toml
Due: unit-tests

alerting when platform,flow type is running multiple server versions.
  .changelogs/+d0c3a724.feature.md
  .gitignore
  Tests/scripts/build_machines_report.py
Due: unit-tests, trigger-content-build

Increased memory for run-validations
  .changelogs/+a66a47dc.bugfix.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

removed content private part from zip packs
  .changelogs/CIAC-11379.removal.md
  Tests/Marketplace/Tests/upload_packs_test.py
  Tests/Marketplace/Tests/zip_packs_test.py
  Tests/Marketplace/marketplace_constants.py
  Tests/Marketplace/marketplace_services.py
  Tests/Marketplace/zip_packs.py
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/collect_tests/exceptions.py
  Tests/scripts/common.py
Due: unit-tests, trigger-content-build

Increased memory for generic-prepare-testing-bucket
  .changelogs/+a1194479.misc.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
Due: unit-tests, trigger-content-build

Silent Progress from Content Nightly Build
  .changelogs/+288d3f7d.misc.md
  .gitignore
  Utils/gitlab_triggers/trigger_content_nightly_build.sh
Due: unit-tests, trigger-content-build

fix stop running pipelines after the sub-pipeline feature broken it.
  .changelogs/+5d09e15d.bugfix.md
  Tests/scripts/stop_running_pipeline.py
  Tests/scripts/trigger_content_build.py
Due: unit-tests, trigger-content-build

bump metadata version of Core packs to 8_9_0
  .changelogs/CIAC-11671.misc.md
  Tests/Marketplace/versions-metadata.json
Due: unit-tests, trigger-content-build

Build machines report
  .changelogs/+fb30f3ec.feature.md
  Tests/scripts/BuildMachines/templates/ReportTemplate.html
  Tests/scripts/build_machines_report.py
  Tests/scripts/infra/secret_manager.py
  Tests/scripts/lock_cloud_machines.py
Due: unit-tests, trigger-content-build

Infra Release V0.0.4
  .changelogs/+288d3f7d.misc.md
  .changelogs/+298e6209.feature.md
  .changelogs/+a1194479.misc.md
  .changelogs/+a66a47dc.bugfix.md
  .changelogs/+d0c3a724.feature.md
  .changelogs/CIAC-11379.removal.md
  .changelogs/CIAC-11671.misc.md
  CHANGELOG.md
  pyproject.toml
Due: unit-tests

fix changelog.md
  CHANGELOG.md
Due: none

simplifying force merge builds
  .changelogs/+dbf2007b.feature.md
  .gitlab/ci/.gitlab-ci.force-merge.yml
  .gitlab/ci/.gitlab-ci.yml
  .gitlab/ci/Unit-Tests/.gitlab-ci.unit-tests.yml
  .gitlab/ci/global.yml
  .gitlab/ci/pre-commit/.gitlab-ci.pre-commit.yml
  .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  .gitlab/ci/workflow.yml
  Tests/scripts/check_is_force_merge_allowed.py
  Tests/scripts/trigger_content_build.py
Due: unit-tests, trigger-content-build

support XDR in build machines report when connecting to viso.
  .changelogs/+9a88eafc.bugfix.md
  .gitlab/ci/build-machines-report.yml
  Tests/scripts/build_machines_report.py
Due: unit-tests, trigger-content-build

Update bypass.url msg
  .changelogs/+aff51842.doc.md
  Tests/scripts/prepare_content_packs_for_testing.sh
Due: unit-tests, trigger-content-build

Increase memory for new validation
  .changelogs/+8a88968c.bugfix.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
Due: unit-tests, trigger-content-build

Avoid stopping running when the test_module command crashes
  .changelogs/+0ab99167.bugfix.md
  Tests/configure_and_test_integration_instances.py
Due: unit-tests, trigger-content-build

Exclude manual_generic_alert_raw from the deletion process
  .changelogs/+22cd4649.misc.md
  Tests/Marketplace/search_and_uninstall_pack.py
Due: unit-tests, trigger-content-build

Fix bucket logs (workaround)
  .changelogs/+d5e6883c.bugfix.md
  BucketLogs/process-logs.sh
Due: none

SDK release 2
  .changelogs/+b4fe9a72.misc.md
  poetry.lock
  pyproject.toml
Due: unit-tests

Add memory for SDK nightly prepare
  .changelogs/+ff0b032b.misc.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
Due: unit-tests, trigger-content-build

Retry mechanism when searching for Jira issues
  .changelogs/+3a4c4687.feature.md
  Tests/Marketplace/print_test_modeling_rule_summary.py
  Tests/Marketplace/print_test_playbook_summary.py
  Tests/scripts/convert_test_modeling_result_to_jira_issues.py
  Tests/scripts/convert_test_playbook_result_to_jira_issues.py
  Tests/scripts/jira_issues.py
  Tests/scripts/test_modeling_rule_report.py
  Tests/scripts/test_modeling_rule_results.sh
  Tests/scripts/test_playbooks_results.sh
Due: unit-tests, trigger-content-build

remove public prefix for by pass url
  .changelogs/+dbad1afb.doc.md
  Tests/scripts/prepare_content_packs_for_testing.sh
Due: unit-tests, trigger-content-build

Infra Release V0.0.5
  .changelogs/+0ab99167.bugfix.md
  .changelogs/+22cd4649.misc.md
  .changelogs/+3a4c4687.feature.md
  .changelogs/+5d09e15d.bugfix.md
  .changelogs/+8a88968c.bugfix.md
  .changelogs/+9a88eafc.bugfix.md
  .changelogs/+aff51842.doc.md
  .changelogs/+b4fe9a72.misc.md
  .changelogs/+d5e6883c.bugfix.md
  .changelogs/+dbad1afb.doc.md
  .changelogs/+dbf2007b.feature.md
  .changelogs/+fb30f3ec.feature.md
  .changelogs/+ff0b032b.misc.md
  CHANGELOG.md
  pyproject.toml
Due: unit-tests

Fix mypy error flaky for google.cloud library
  .changelogs/+5f6f32a8.bugfix.md
  Tests/Marketplace/marketplace_services.py
Due: unit-tests, trigger-content-build

Divide ci-build bucket
  .changelogs/+5f6f32a8.bugfix.md
  .changelogs/+5f6f32a9.feature.md
  .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.variables.yml
  Tests/Marketplace/Tests/copy_and_upload_packs_test.py
  Tests/Marketplace/Tests/upload_packs_test.py
  Tests/Marketplace/copy_and_upload_packs.py
  Tests/Marketplace/marketplace_constants.py
  Tests/Marketplace/search_and_install_packs.py
  Tests/Marketplace/upload_packs.py
  Tests/Marketplace/upload_versions_core_files.sh
  Tests/Marketplace/validate_core_packs_list_versions.py
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/prepare_content_packs_for_testing.sh
  Tests/scripts/split_packs_to_machines.py
  Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh
Due: unit-tests, trigger-content-build

Use tag instead of SA
  .changelogs/CIAC-11828.bugfix.md
  .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
Due: none

Infra Release V0.0.6
  .changelogs/+5f6f32a8.bugfix.md
  .changelogs/+5f6f32a9.feature.md
  .changelogs/CIAC-11828.bugfix.md
  CHANGELOG.md
  pyproject.toml
Due: unit-tests

Remove `Connection` content item type
  .changelogs/CIAC-11822.removal.md
  Tests/Marketplace/marketplace_constants.py
  Tests/scripts/collect_tests/constants.py
  Tests/scripts/infrastructure_tests/test_collect_tests.py
  Utils/old_content_branch.py
  Utils/release_notes_generator.py
  Utils/update_branch_from_version.py
Due: unit-tests, trigger-content-build

CIAC-11145 - playbook test code infra
  .DS_Store
  .changelogs/CIAC-11068.feature.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  Tests/scripts/collect_tests/collect_tests.py
  Tests/scripts/collect_tests/constants.py
  Tests/scripts/collect_tests/path_manager.py
  Tests/scripts/infrastructure_tests/playbook_flow_test_utils_test.py
  Tests/scripts/split_packs_to_machines.py
  Tests/scripts/utils/playbook_flow_test_utils.py
Due: unit-tests, trigger-content-build

deleting datasets one at a time, to avoid issues with okta.
  .changelogs/+372a2d3f.bugfix.md
  Tests/Marketplace/search_and_uninstall_pack.py
Due: unit-tests, trigger-content-build

Create API Keys on Demand
  .changelogs/CIAC-11043.feature.md
  SecretActions/SecretsBuild/merge_and_delete_dev_secrets.py
  SecretActions/add_build_machine.py
  SecretActions/google_secret_manager_handler.py
  Tests/configure_and_test_integration_instances.py
  Tests/scripts/BuildMachines/templates/ReportTemplate.html
  Tests/scripts/build_machines_report.py
  Tests/scripts/infra/models.py
  Tests/scripts/infra/resources/constants.py
  Tests/scripts/infra/xsoar_api.py
  Tests/scripts/infrastructure_tests/lock_cloud_machines_test.py
  Tests/scripts/lock_cloud_machines.py
  Tests/tests/configure_and_test_integration_instances_test.py
Due: unit-tests, trigger-content-build

Edit Report Message
  .changelogs/+8b9d4719.misc.md
  Tests/scripts/build_machines_report.py
Due: unit-tests, trigger-content-build

Add tag for GitLab runner in SDK nightly
  .changelogs/CIAC-11840.bugfix.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
Due: unit-tests, trigger-content-build

Pre commit split
  .changelogs/  CIAC-11452.feature.md
  .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  Tests/scripts/check_jobs_done.py
Due: unit-tests, trigger-content-build
